header {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    background-color: #0b82a7;
    color: #fff;
  }

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-size: 20px;
    list-style-type: none;
  }

a {
    color: #050505;
    font-weight: bolder;
    align-items: center;
    text-decoration: none;
}

p {
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.About-Me {
    margin-bottom: 15px;
    padding: 35px;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5be6f8;
    color: #09486d;
    display:inline-block;
}

.Check-out-Some-of-My-Work {
    margin-bottom: 15px;
    padding: 35px;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#09486d;
    color: #5be6f8;
    display: inline-block;
}

.How-to-Contact-Me {
    margin-bottom: 15px;
    padding: 35px;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5be6f8;
    color: #09486d;
}